{% extends 'base.html' %}
{% block title %}
    <title>Home - AMG</title>
{% endblock title %}
{% block content %}
{% if request.session.username %}
  {% if messages %}
      <div class="alert alert-success" role="alert">
          {% for message in messages %}
              <p>{{ message }} {{ request.session.username }}</p>
          {% endfor %}
      </div>
  {% endif %}
{% endif %}
<h1>Welcome back, You are logged in</h1>
<a href="{% url 'home:logout' %}" class="btn btn-outline-secondary">LOGOUT</a>
{% endblock content %}