{% extends 'base.html' %}
{% block title %}
  <title>Home - AMG</title>
{% endblock title %}
{% block menuhome %}
<li class="active"> <a href="/">Home </a> </li>
{% endblock menuhome %}
{% block content %}
      <section id="banner" class="major" style="background-image: url('static/images/banner-image-1-1920x700.jpg');">
        <div class="inner">
          <header class="major">
            <h1>Want to buy a New Car?</h1>
          </header>
          <div class="content">
            <p> Search new model cars in all brands and variants</p>
            <ul class="actions">
              <li><a href="{% url 'models:models-home'%}" class="button next scrolly">Browse Models</a></li>
            </ul>
          </div>
        </div>
      </section>
      <div id="main">
        <!-- Featured Cars -->
        <section class="tiles">
          {% for object in objects%}
          <article>
            <span class="image">
              <img src="{{object.image.url}}" alt="" />
            </span>
            <header class="major">
              <p>
                <i class="fa fa-dashboard"></i> {{object.mileage}}&nbsp;&nbsp;
                <i class="fa fa-cube"></i> {{object.engine_size}}&nbsp;&nbsp;
                <i class="fa fa-cog"></i> {{object.gear_box}}
              </p>
              <h3>{{object.make}}</h3>
              <h4>{{object.model}}</h4>
              <p><strong> {{object.price}}</strong></p>
              <p>{{object.power}}  /  {{object.fuel}}  /  {{object.year}}</p>
              <div class="major-actions">
                <a href="{% url 'models:models-detail' object.id %}" class="button small next">View Car</a>
              </div>
            </header>
          </article>
          {% endfor %}
        </section>
        
        <!-- About us -->
        <section>
          <div class="inner">
            <header class="major">
              <h2>About us</h2>
            </header>
            <p>Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt. Vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus amet pharetra et feugiat tempus.</p>
            <ul class="actions">
              <li><a href="about-us.html" class="button next">Read more</a></li>
            </ul>
          </div>
        </section>

        <!-- Blog Posts -->
        <section class="tiles">
          <article>
            <span class="image">
              <img src="/static/images/blog-1-720x480.jpg" alt="" />
            </span>
            <header class="major">
              <h3>BUY</h3>

              <p>Buy a verified used car</p>

              <div class="major-actions">
                <a href="{% url 'shop:shop-buy' %}" class="button small next scrolly">BUY NOW</a>
              </div>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="/static/images/blog-2-720x480.jpg" alt="" />
            </span>
            <header class="major">
              <h3>SELL</h3>

              <p>Sell your car at Best price</p>

              <div class="major-actions">
                <a href="{% url 'shop:shop-sell' %}" class="button small next scrolly">SELL NOW</a>
              </div>
            </header>
          </article>
          <article>
            <span class="image">
              <img src="/static/images/blog-3-720x480.jpg" alt="" />
            </span>
            <header class="major">
              <h3>Become a dealer</h3>

              <p>Get sales through us</p>

              <div class="major-actions">
                <a href="#" class="button small next scrolly">SIGN UP NOW</a>
              </div>
            </header>
          </article>
        </section>
        <section>
          <div class="inner">
            <header class="major">
              <h2>Testimonials</h2>
            </header>
            <div class="row">
              <div class="col-6">
                <p><em>"Nullam et orci eu lorem consequat tincidunt vivamus et sagittis libero. Mauris aliquet magna magna sed nunc rhoncus pharetra. Pellentesque condimentum sem. In efficitur ligula tate urna. Maecenas laoreet massa vel lacinia pellentesque lorem ipsum dolor. Nullam et orci eu lorem consequat tincidunt."</em></p>
                <p><strong>- John Doe</strong></p>
                
              </div>

              <div class="col-6">
                <p><em>"Lorem ipsum dolor sit amet, consectetur adipisicing elit. Dolores temporibus dolorum minus repudiandae, eaque error corporis aliquam, architecto amet itaque nobis. Omnis itaque est dolore, a nostrum numquam. Quae, facilis."</em></p>
                <p><strong>- Jack Smith</strong></p>
              </div>
            </div>
            <ul class="actions">
              <li><a href="testimonials.html" class="button next">Read more</a></li>
            </ul>
          </div>
        </section>
    </div>
{% endblock content %}