{% extends 'base.html' %}
{% block title %}
    <title>Login to your account - AMG</title>
{% endblock title %}
{% block content %}
{% block navbarprofile %}
{% endblock navbarprofile %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
<header class="major">
  <h2>LOGIN</h2>
</header>
    <form method="POST" >
        {% csrf_token %}
        <div class="container">
          {% for field in form %}
          <div class="row">
            <div class="col">
              {{ field.label_tag }}
            </div>
            <div class="col">
              {{ field }}
            </div>
            <div class="row">
                <span id="helpText" class="form-text">
                  {% if field.errors %}
                    <div class="help">{{ field.errors }}</div>
                  {% endif %}
                </span>
            </div>
          </div>
          {% endfor %}
          <div class="col">
              <button type="submit" class="btn btn-outline-secondary">Login</button>
              <a href="{% url 'home:signup' %}" class="button">New user? Create your account here</a>
          </div>
        </div>
    </form>
{% endblock content %}