{% extends 'base.html' %}
{% block title %}
    <title>Login to your account</title>
{% endblock title %}
{% block content %}
{% block navbarlogin %}
{% endblock navbarlogin %}
{% if messages %}
{% for message in messages %}
<div class="alert alert-danger" role="alert">
    {{ message }}
</div>
{% endfor %}
{% endif %}
{% load static %}
<link rel="stylesheet" href="{% static 'css/form.css' %}">
<div class="content">
<div class="form-label">Fill in the details to login to your account</div>
    <form method="POST" >
        {% csrf_token %}
        <div class="container">
          {% for field in form %}
          <div class="row">
            <div class="col">
              {{ field.label_tag }}
            </div>
            <div class="col">
              {{ field }}
            </div>
            <div class="row">
                <span id="helpText" class="form-text">
                  {% if field.errors %}
                    <div class="help">{{ field.errors }}</div>
                  {% endif %}
                </span>
            </div>
          </div>
          {% endfor %}
          <div class="col">
              <button type="submit" class="btn btn-outline-secondary">Login</button>
              <a href="{% url 'home:signup' %}" class="btn btn-outline-secondary">New user? Create your account here</a>
          </div>
        </div>
    </form>
</div>
{% endblock content %}