{% extends 'base.html' %}
{% block title %}
    <title>SHOP - AMG</title>
{% endblock title %}
{% block content %}
{% block navbarlogin %}
{% endblock navbarlogin %}
<h1 align="center" style="margin-top:30px"></h1>
<div class="row" style="width:100%;">
<div class="col-sm-6">
  <div class="card" style="margin-left:10px;margin-top: 30px;margin-bottom: 30px;">
    <div class="card-body">
      <h5 class="card-title">Buy Verified Old Car</h5>
      <p class="card-text">Buy a verified oldcar</p>
      <a href="{% url 'shop:shop-buy' %}" class="btn btn-primary">Buy</a>
    </div>
  </div>
</div>
<div class="col-sm-6">
  <div class="card" style="margin-left:10px;margin-top: 30px;margin-bottom: 30px;">
    <div class="card-body">
      <h5 class="card-title">Sell Old Car</h5>
      <p class="card-text">Sell your old car with the best deal</p>
      <a href="{% url 'shop:shop-sell' %}" class="btn btn-primary">Sell</a>
    </div>
  </div>
</div>
<div class="col-sm-6">
<div class="card" style="margin-left:10px;margin-top: 30px;margin-bottom: 30px;">
  <div class="card-body">
    <h5 class="card-title">Exchange Your Car</h5>
    <p class="card-text">Exchange your car with your favourite new model</p>
    <a href="{% url 'shop:shop-exchange' %}" class="btn btn-primary">Exchange</a>
  </div>
</div>
{% endblock content %}