{% extends 'base.html' %}
{% block title %}
    <title>SHOP - AMG</title>
{% endblock title %}
{% block menuoldcars %}
<li class="active"> <a href="{% url 'shop:shop-home'%}">Old Cars</a> </li>
{% endblock menuoldcars %}
{% block content %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shop:shop-buy' %}">BUY CAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shop:shop-sell' %}">SELL CAR</a>
  </li>
</ul>
{% endblock content %}