{% extends 'base.html' %}
{% block title %}
    <title>Sell old car</title>
{% endblock title %}
{% block content %}
<ul class="nav nav-pills justify-content-center">
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shop:shop-buy' %}">BUY CAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link active" aria-current="page" href="{% url 'shop:shop-sell' %}">SELL CAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="{% url 'shop:shop-exchange' %}">EXCHANGE CAR</a>
  </li>
  <li class="nav-item">
    <a class="nav-link" href="#">DEALER LOCATER</a>
  </li>
</ul>
<div style="margin: 25px;">
  <form method="POST" id="sellCarForm" data-cities-url="{% url 'home:load_cities' %}"
        data-models-url="{% url 'shop:load_models' %}"
        data-variants-url="{% url 'shop:load_variants' %}">
    {% csrf_token %}
    <div class="container">
      <div class="row justify-content-evenly">
        {% for field in form %}
        <div class="col-4">
          <div class="input-group mb-3">
            {{ field.label_tag }}
          </div>
        </div>
        <div class="col-4">
            {{ field }}
        </div>
        <div class="col-4">
          <span class="form-text text-muted">
              {% if field.errors %}
              <div class="help">{{ field.errors }}</div>
            {% endif %}
          </span>
        </div>
        {% endfor %}
        <button style="width:100px;height:40px;" type="submit" class="btn btn-outline-secondary">Sell now</button>
      </div>
    </div>
  </form>
</div>
<script src="https://code.jquery.com/jquery-3.3.1.min.js"></script>
<script>
    $("#id_state").change(function () {
        const url = $("#sellCarForm").attr("data-cities-url");
        const stateId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'state_id': stateId
            },
            success: function (data) {
                $("#id_city").html(data);
            }
        });

    });
    $("#id_make").change(function () {
        const url = $("#sellCarForm").attr("data-models-url");
        const makeId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'make_id': makeId
            },
            success: function (data) {
                $("#id_model").html(data);
            }
        });

    });
    $("#id_model").change(function () {
        const url = $("#sellCarForm").attr("data-variants-url");
        const modelId = $(this).val();

        $.ajax({
            url: url,
            data: {
                'model_id': modelId
            },
            success: function (data) {
                $("#id_variant").html(data);
            }
        });

    });
</script>
{% endblock %}